#missionStatement{
  background-color: grey;
  background: cover;
  width: 100%;
  height: 100%
}


/* LANDING PAGE DESIGN SECTION */
/* about set inc portion keep in order */
#aboutSetInc{
  background-color: black;
  padding-top: 10px
}

/* team image with text*/
#teamImage{
  width: 375px;
  height: 465px;
  border-radius: 15px
}
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    color: white;
}

.setincStatement{
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.title{
  font-family:'Courier New', Courier, monospace;
}

/* Phone number button on landing page */
#phoneNumber{
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.1;
  padding-left: 35px;
  padding-right: 35px;
  height: 63px;
  width: 225px;
  border-radius: 25px;
  letter-spacing: 1px;
  text-align: center;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: all;
  background-color: #990000;
  box-shadow: 0px 25px 20px -20px rgb(253 98 90 / 30%);
}
#callNowText{
  font-weight: 600;
}

/* media section for landing page */
@media screen and (max-width: 812px){
  #teamImage{
    width: 300px;
    height: 325px;
    border-radius: 15px;
    margin-top:-10px
  }

  .float-child {
      width: 100%;
      float: none;
      padding: 20px;
      color: white;
  }

  .setincStatement{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 16.5px;
  }
}

/* LISENCES IMAGE SECTION */
.licenses{
  float: left;
  width: 100%;
  color: white;
}
.licenseImage{
  width:125px;
  height:100px;
  opacity: 0.3;
  padding-bottom: 15px
}

/* licenses media section */
@media screen and (max-width: 812px){
  .licenseImage{
    width:50px;
    height:70px;
    opacity: 0.4;
    padding-bottom: 15px
  }
}

/* TESTIMONIALS DESIGN SECTION */

/* Testimonials section */
.testimonials{
  float: left;
  width: 100%;
  padding: 20px;
  color: white;
}

.customerWords{
  font-family:'Courier New', Courier, monospace;
  color: #990000;
}

/* SERVICES DESIGN SECTION */

/* services section */
.servicesOffered{
  font-family:'Courier New', Courier, monospace;
  color: #990000;
}

.serviceImage{
  height: 200px;
  margin-top: 5px;
  background-color:grey;
}

#serviceImageMobile{
  width: 340px;
  border-radius: 10px;
}

.flip-box {
  width: 375px;
  height: 250px;
  perspective: 1000px;
  margin-top:110px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
}

.flip-box-back {
  height: 250px;
  color: black;
  transform: rotateY(180deg);
}

#servicesPhoneNumber{
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.1;
  padding-left: 35px;
  padding-right: 35px;
  height: 63px;
  width: 225px;
  border-radius: 25px;
  letter-spacing: 1px;
  text-align: center;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: all;
  background-color: black;
  box-shadow: 0px 25px 20px -20px rgb(253 98 90 / 30%);
}

/* media section for services page */
@media screen and (max-width: 812px){
  .mobileDisplay{
    overflow: auto;
    display: block;
    width: 100%
  }
  .servicesOffered{
    font-family:'Courier New', Courier, monospace;
    color: #990000;
    font-size: 30px

  }
  .flip-box {
    width: 345px;
    height: 345px;
    perspective: 1000px;
  }
  #serviceImageMobile{
    width: 315px;
    border-radius: 10px;
  }
}
