#missionStatement{
  background-color: grey;
  background: cover;
  width: 100%;
  height: 100%
}

/* about set inc portion keep in order */
#aboutSetInc{
  background-color: black;
  padding-top: 10px
}

/* team image with text*/
#teamImage{
  width: 365px;
  height: 455px;
  border-radius: 15px
}
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    color: white;
}

.setincStatement{
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.title{
  font-family:'Courier New', Courier, monospace;
}

/* Phone number button on landing page */
#phoneNumber{
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.1;
  padding-left: 35px;
  padding-right: 35px;
  height: 63px;
  width: 225px;
  border-radius: 25px;
  letter-spacing: 1px;
  text-align: center;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: all;
  background-color: #990000;
  box-shadow: 0px 25px 20px -20px rgb(253 98 90 / 30%);
}
#callNowText{
  font-weight: 600;
}

/* Testimonials section */
.testimonials{
  float: left;
  width: 100%;
  padding: 20px;
  color: white
}

.customerWords{
  font-family:'Courier New', Courier, monospace;
}

/* media section for landing page */
@media screen and (max-width: 812px){
  #teamImage{
    width: 325px;
    height: 300px;
    border-radius: 15px;
    margin-top:-10px
  }

  .float-child {
      width: 100%;
      float: none;
      padding: 20px;
      color: white;
  }

  .setincStatement{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 16.5px;
  }
}
